/*body {

    width: 1200px;
    margin: 0 auto;
}*/

#container {
    position: absolute;
    display: flex;
}

#anleitung {

    font-size: 12pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#anleitungContainer

{

    background-color: black;
    opacity: 0.9;

}

#form {
    width: 800px;
    height: 490px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-top: 30px;
    margin-left: 10px;
}

.isHidden {
    display: none !important;
}


.ingredientsValue {

    position: absolute;
    margin-top: 65px;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resourceValue {
    position: absolute;
    margin-top: 28px;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 18pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#canvasContainer {

    position: relative;
    width: 800px;
    height: 600px;
}

#startButton {
    margin-left: 375px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: red;
    bottom: 700px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 12pt;
}

#onionButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 599px;
    cursor: pointer;
    background: none;
    border: none;
}

#cornButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 418px;
    cursor: pointer;
    background: none;
    border: none;
}

#saladButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 156px;
    cursor: pointer;
    background: none;
    border: none;
}

#redsaladButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: -25px;
    cursor: pointer;
    background: none;
    border: none;
}

#tomatoButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 37px;
    cursor: pointer;
    background: none;
    border: none;
}

#onionResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: 220px;
    cursor: pointer;
    background: none;
    border: none;
}

#cornResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: 66px;
    cursor: pointer;
    background: none;
    border: none;
}

#saladResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: -142px;
    cursor: pointer;
    background: none;
    border: none;
}

#redsaladResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: -296px;
    cursor: pointer;
    background: none;
    border: none;
}

#tomatoResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: -288px;
    cursor: pointer;
    background: none;
    border: none;
}

#dönerButton {

    position: relative;
    width: 35px;
    height: 35px;
    bottom: 340px;
    left: -650px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#yufkaButton {

    position: relative;
    width: 35px;
    height: 35px;
    bottom: 340px;
    left: -630px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#lahmacunButton {

    position: relative;
    width: 35px;
    height: 35px;
    bottom: 340px;
    left: -610px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

.breadParagraph {
    font-size: 7pt;
    margin-top: 35px;
}

#aktuellerMitarbeiter {
    position: relative;
    width: 65px;
    height: 50px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    margin-left: 825px;
    bottom: 700px;
    border: none;
    background-color: lightslategrey;
    border-radius: 8px;
    text-align: center;
    font-size: 12pt;
}

#employee1Theke {
    position: relative;
    margin-left: 900px;
    bottom: 700px;
    cursor: pointer;
    background-color: #2596be;
    border: none;
    font-size: 12pt;
    padding: 10px 22px;
    border-radius: 8px;
}

#employee1Döner {
    position: relative;
    margin-left: 900px;
    bottom: 690px;
    cursor: pointer;
    background-color: #F4A460;
    border: none;
    font-size: 12pt;
    padding: 10px 22px;
    border-radius: 8px;
}

#employee1Telefon {
    position: relative;
    margin-left: 900px;
    bottom: 680px;
    cursor: pointer;
    background-color: #468641;
    border: none;
    font-size: 12pt;
    padding: 10px 22px;
    border-radius: 8px;
}

#employee1Resourcen {
    position: relative;
    margin-left: 900px;
    bottom: 670px;
    cursor: pointer;
    background-color: #8A2BE2;
    border: none;
    font-size: 12pt;
    padding: 10px 14px;
    border-radius: 8px;
}

#employee1Pause {
    position: relative;
    margin-left: 900px;
    bottom: 660px;
    cursor: pointer;
    background-color: #ffd700;
    border: none;
    font-size: 12pt;
    padding: 10px 22px;
    border-radius: 8px;
}

#order {
    position: relative;
    width: 450px;
    height: 200px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 600px;
    margin-left: 850px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#totalMotivation {
    position: relative;
    width: 150px;
    height: 75px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 840px;
    margin-left: 20px;
}

#soldBread {
    position: relative;
    width: 150px;
    height: 120px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 1575px;
    margin-left: 20px;
}

#currentOrder {
    position: relative;
    width: 330px;
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 1270px;
    margin-left: 1000px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.buttonNotAvailaible {
    pointer-events: none;
}

#giveOrder {
    position: relative;
    margin-left: 900px;
    bottom: 650px;
    cursor: pointer;
    background-color: #D22B2B;
    border: none;
    font-size: 12pt;
    padding: 10px 22px;
    border-radius: 8px;
}

#canvas {
    position: relative;
}