/*body {

    width: 1200px;
    margin: 0 auto;
}*/

#container {
    position: absolute;
    display: flex;
}

#form {
    width: 800px;
    height: 490px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-top: 30px;
    margin-left: 275px;
}

.isHidden {
    display: none !important;
}


.ingredientsValue {

    position: absolute;
    margin-top: 65px;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.resourceValue {

    position: absolute;
    margin-top: 28px;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 18pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#canvasContainer {

    position: relative;
    width: 800px;
    height: 600px;
}

#startButton {
    margin-left: 375px;
    cursor: pointer;
}

#onionButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 599px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#cornButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 418px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#saladButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 156px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#redsaladButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: -25px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#tomatoButton {

    position: relative;
    width: 77px;
    height: 120px;
    bottom: 251px;
    left: 37px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#onionResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: 220px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#cornResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: 66px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#saladResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: -142px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#redsaladResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: -296px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#tomatoResourcenButton {

    position: relative;
    width: 50px;
    height: 50px;
    bottom: 614px;
    left: -288px;
    cursor: pointer;
    /* background: none;
    border: none; */
}

#dönerButton {

    position: relative;
    width: 35px;
    height: 35px;
    bottom: 340px;
    left: -650px;
    cursor: pointer;
}

#yufkaButton {

    position: relative;
    width: 35px;
    height: 35px;
    bottom: 340px;
    left: -630px;
    cursor: pointer;
}

#lahmacunButton {

    position: relative;
    width: 35px;
    height: 35px;
    bottom: 340px;
    left: -610px;
    cursor: pointer;
}

.breadParagraph {

    font-size: 7pt;
    margin-top: 35px;


}

#aktuellerMitarbeiter {

    position: relative;
    width: 65px;
    height: 50px;
    border-color: black;
    border-style: solid;
    margin-left: 825px;
    bottom: 700px;
}

#employee1Theke {

    position: relative;
    margin-left: 900px;
    bottom: 700px;
    cursor: pointer;
}

#employee1Döner {

    position: relative;
    margin-left: 900px;
    bottom: 690px;
    cursor: pointer;
}

#employee1Telefon {

    position: relative;
    margin-left: 900px;
    bottom: 680px;
    cursor: pointer;
}

#employee1Resourcen {

    position: relative;
    margin-left: 900px;
    bottom: 670px;
    cursor: pointer;
}

#employee1Pause {

    position: relative;
    margin-left: 900px;
    bottom: 660px;
    cursor: pointer;
}

#employee1PrepareResource {

    position: relative;
    margin-left: 900px;
    bottom: 650px;
    cursor: pointer;
}

#order {

    position: relative;
    width: 150px;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 545px;
    margin-left: 850px;
}

#totalMotivation {

    position: relative;
    width: 150px;
    height: 75px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 645px;
    margin-left: 20px;
}

#currentOrder {

    position: relative;
    width: 330px;
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 1100px;
    margin-left: 1000px;
    overflow-y: scroll;
}

.buttonNotAvailaible {

    pointer-events: none;
}

#giveOrder {

    position: relative;
    margin-left: 900px;
    bottom: 640px;
    cursor: pointer;
}

#canvas {
    position: relative;
}